.footer {
  margin-bottom: 0;
  padding-bottom: 1px;
}
a {
  text-decoration: none;
}
.faba {
  font-size: 22px;
  padding: 5px;
  background-color: #ececec;
  color: #060404;
  border-radius: 50%;
  margin: 5px;
}
.love{
    color: red;
}
