@import url("https://fonts.maateen.me/solaiman-lipi/font.css");
.App {
  text-align: center;
}
* {
  overflow-x: hidden;
}
body {
  margin: 0;
  padding: 0;
  font-family: "SolaimanLipi", sans-serif;
  overflow-x: hidden;
}
